.DS_Store
.idea
Thumbs.db
tmp/
temp/
node_modules
coverage
*.lcov
.nyc_output
*.log
.env
dist
.history

# Monorepo packages
packages/*/dist
packages/*/node_modules
packages/*/.turbo

# Changesets
.changeset/*.md
!.changeset/README.md

*.tsbuildinfo
