@use "sass:meta";
@import "./bootstrap";

$bootstrap-icons-font-dir: "/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

// https://github.com/highlightjs/highlight.js/issues/2115#issuecomment-1059981062
body[data-bs-theme="light"] {
  @include meta.load-css("highlight.js/styles/base16/solarized-light.css");
}

body[data-bs-theme="dark"] {
  @include meta.load-css("highlight.js/styles/base16/dracula.css");
}

.cursor-pointer {
  cursor: pointer;
}

.container-fluid-max {
  max-width: 1600px;
}

.min-vh-75 {
  min-height: 75vh !important;
}

.nav-progress {
  height: 1px;
}
